---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<<<<<<< HEAD
		<h1> ¿Sueñan los anddroiides con ovejas eléctricas? </h1>
=======
		<h1> ¿Sueñan los androides con ovejas eléctricas? </h1>
>>>>>>> 826bb7c (initial commit)
		<h2> Quedense a averiguarlo. </h2>
	</body>
</html>
